// COLORS
$color-primary: #2c3e50;
$color-primary-light: #34495e;

$color-secondary: #2980b9;
$color-secondary-light: #3498db;

$color-tertiary: #c0392b;
$color-tertiary-light: #e74c3c;

$color-grey: #bdc3c7;
$color-grey-light: #ecf0f1;
$color-grey-dark: #7f8c8d;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "K2D", sans-serif;
