.about {
    padding: 8vw 5vw;
    background-color: rgba(#000, $alpha: 0.9);
    display: flex;
    align-items: center;

    &__text-box {
        font-size: 1.5rem;
        font-family: $font-secondary;
        background-color: rgba(#fff, 0.1);
        transform: translateX(10rem);
        padding: 8rem 20rem 8rem 8rem;
        transition: all 2s;
    }

    &__photo-box {
        img {
            width: 40rem;
            filter: grayscale(60%);
        }

        transform: translateX(-10rem);
    }
}
