.about {
    padding: 10rem 8rem;
    background-color: rgba(#000, $alpha: 1);
    display: flex;
    align-items: center;

    &__text-box {
        font-size: 1.5rem;
        font-family: $font-secondary;
        background-image: linear-gradient(to right bottom, rgba($color-primary, 0.7), rgba($color-primary, 0.1));
        transform: skewX(-10deg) translateX(5rem);
        padding: 8rem 10rem 8rem 8rem;

        &:hover {
            background-color: rgba($color-primary, 0.7);
        }

        p {
            transform: skewX(10deg);
        }
    }

    &__photo-box {
        img {
            width: 40rem;
            filter: grayscale(60%);
        }

        transform: translateX(-5rem);
    }
}
